{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="footer, links, icons" />

  <title>Contact us</title>
  <link href="{% static 'app/personal.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


</head>

<body>
  <header>
    <nav>
      <div class="logo-section">
        <button class="hb-button"><i class="fa fa-bars"></i></button>
      </div>
      <ul>
        <li><a class="slide-section" href="{% url 'app:index' %}#home">HOME</a></li>
      </ul>
    </nav>
  </header>

  <div class="jumbotron leisure_bkg">
      <div class="container">
              <h1 class="display-3 text-center titlecolor">Contact us</h1>
      </div>
  </div>

  </section>

  <section class="contact move" id="contact">

    <p class="text text-center">TU/event it a website under development and there is still a lot of room for improvement.<br> If you have any questions or recommendations for us, do not hesitate to leave a message. We will answer you in no time.</p>

    <form action="" method="post">
      <div class="container">
        {% csrf_token %}
        {% if success %}
            <p>Your message has been sent.</p>
        {% endif %}
        {% if not success %}
        {% for field in form %}
        <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <div class="col-sm-offset-2 col-sm-10">
          <span class="text-danger small"> {{ field.errors }}</span>
        </div>
        <div class="centered">
          <label class="control-label col-sm-2"> {{field.label_tag}}</label>
          <div class="">{{field}}</div>
        </div>
        {% endfor %}
        <div class="centered">
          <button class="btn btn-dark btn-lg" type="submit">Send</button>
        </div>
        {% endif %}
    </form>


  </section>

  <footer class="footer-distributed">

    <div class="footer-right">

      <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
      <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
      <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.github.com"><i class="fa fa-github"></i></a>


    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a href="{% url 'app:index' %}">Home</a> ·
        <a href="{% url 'app:share2' %}">Share</a> ·
        <a href="{% url 'app:contact' %}">Contact</a>
      </p>

      <p>TU/event &copy; 2017</p>
    </div>

  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'app/javascript/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'app/javascript/text/javascript' %}" src="{% static 'app/javascript/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'app/javascript/personal.js' %}"></script>
</body>

</html>
