{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="footer, links, icons" />

  <title>Tu/event</title>
  <link href="{% static 'app/style.css' %}" rel = "stylesheet" type = "text/css">
  <link href="{% static 'app/css/bootstrap.min.css' %}" rel ="stylesheet">
  <link href="{% static 'app/jquery.datetimepicker.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'app/daterangepicker.css' %}" />

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>

     #map {
       width: 100%;
        height: 400px;
        background-color: grey;
     }

    html, body {
      height: 100%;
      margin: 0;
      padding:0;
    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHdDx6ji1n5Rvvyqa2Bm5_U-usL_i2sQ8"></script>
  <script>

    var map;
    function initialize() {
      var mapOptions = {
        zoom:15,
        center: {lat: 51.447, lng: 5.484}
      };
      map = new google.maps.Map(document.getElementById('map'),
          mapOptions);

          var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
          var labelIndex = 0;


        {% for mark in events %}
          var pointer = new google.maps.LatLng({{mark.position.latitude}},{{mark.position.longitude}});
          var point = new google.maps.Marker({
            position: pointer,
            map: map,

          //  icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',

            animation: google.maps.Animation.DROP,
            label: labels[labelIndex++ % labels.length],
            title: '{{ mark.event_name }}, {{ mark.published_by }}, {{ mark.event_location }}',
          });


          var point_infowindow = new google.maps.InfoWindow({
        //   content: '<p>Marker Location:' + point.getPosition() + '</p>'
         content: '<p> {{mark.event_name}} <br> Location: {{mark.event_location}} </p>'
          });

        //google.maps.event.addListener(point, 'click', function() {
        //    point_infowindow.open(map, point);
        //  });


          {% endfor %}

    }

    google.maps.event.addDomListener(window, 'load', initialize);

  </script>



</head>

<body>
  <header id="home">
    <header>
      <nav>
        <div class="logo-section">
          <button class="hb-button"><i class="fa fa-bars"></i></button>
        </div>
        <ul>
          <li>Hello, {{user.username}}</li>
          <li><a href="{% url 'app:logout_page' %}">LOGOUT</a></li>
          <li><a href="{% url 'app:myprofile' %}">MY PROFILE</a></li>
          <li><a href="{% url 'app:contact' %}">CONTACT</a></li>

          <li><a href="{% url 'app:share2' %}">SHARE</a></li>
          <li><a class="slide-section" href="#map">MAP</a></li>

          <li><a class="slide-section" href="#events">EVENTS</a></li>
          <li><a class="slide-section" href="#about">ABOUT</a></li>
          <li><a class="slide-section" href="#home">HOME</a></li>


        </ul>
      </nav>
    </header>
    <div class="home">
      <h1 class="greet">WELCOME TO TU/EVENT</h1>
      <h2 class="greet">YOUR PORTAL TO THE CAMPUS LIFE</h2>
    </div>
  </header>
  <section class="about move" id="about">
    <h3 class="text-center">ABOUT</h3>
    <p class="text">TU/event is a social platform designed to bring together the community of students, teachers and companies from Eindhoven and beyond. Here you can find everything you want to know about what is going on in TU/e campus, from birthday parties and dance
      courses to ways to develop your hard skills or even get hired. There is no longer need to surf numerous pages in order to find when, where, what is currently happening around you and, more than this, you personally can create events on this page
      which will be shared with the community! So join TU/event and start having fun! </p>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p><b>STEP 1:</b> In case you have not done it already, register to our website and configure your TU/event account so that you can be an active member of the community!
            </p>
          </div>
          <div class="col-md-4">
            <p><b>STEP 2:</b> Start searching for your friends, discover new people, make new friends and create your social network whom you are going to interact with!
            </p>
          </div>
          <div class="col-md-4">
            <p><b>STEP 3:</b> Go ahead and explore the website, attend events, create new ones and develop yourself personally and professionally starting from today!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="events move" id="events">
    <h3 class="text-center">EVENTS</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div id="lei" class="card card2">
            <img class="card-img-top card-photo" src="{% static 'app/img/leisure.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Leisure</h4>
              <p class="card-text">Sports? Music?<br> Dancing lessons?<br>You can find here any kind of relaxing activity for you and your friends.</p>
            </div>
            <div class="card-body">
              <a href="{% url 'app:leisure' %}" class="card-link bigger"><b>See events</b></a>
            </div>
          </div>
        </div>
        <div class=" col col-md-6 col-lg-3 col-sm-12">
          <div id="per" class="card card2">
            <img class="card-img-top card-photo" src="{% static 'app/img/personal.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Personal</h4>
              <p class="card-text">Here there are some more private events, such as house parties or movie nights, so check them out and join what you want.</p>
            </div>
            <div class="card-body">
              <a href="{% url 'app:personal' %}" class="card-link bigger"><b>See events</b></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div id="ed" class="card card2">
            <img class="card-img-top card-photo" src="{% static 'app/img/educational.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Educational</h4>
              <p class="card-text">Lunch lectures, trainings, seminars, any kind of university-related event where you can consolidate your knowledge. </p>
            </div>
            <div class="card-body">
              <a href="{% url 'app:educational' %}" class="card-link bigger"><b>See events</b></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div id="prf" class="card card2">
            <img class="card-img-top card-photo" src="{% static 'app/img/professional.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Professional</h4>
              <p class="card-text">This is great for those in search for internships, summer schools, jobs. Offers of these kinds will be posted in this section.</p>
            </div>
            <div class="card-body">
              <a href="{% url 'app:professional' %}" class="card-link bigger"><b>See events</b></a>
            </div>
          </div>
        </div>
      </div>
    </section>
      <h3 class="text-center">MAP</h3>
    <section class="about move" id="map">

      <div class="container text-center my-5 py-5">

          <div class="row col-md-12  text-center">
        <div  id="map">  </div>
    </div>
  </section>

    <footer class="footer-distributed">

      <div class="footer-right">


      <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
      <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
      <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.github.com"><i class="fa fa-github"></i></a>



    <div class="footer-left">

      <p class="footer-links">
        <a class="slide-section" href="#home">Home</a> ·
        <a class="slide-section" href="#about">About</a> ·
        <a class="slide-section" href="#events">Events</a> ·
        <a href="{% url 'app:share2' %}">Share</a> ·
        <a href="{% url 'app:contact' %}">Contact</a>
      </p>

        <p>TU/event &copy; 2017</p>
      </div>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'app/javascript/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/javascript/jquery.datetimepicker.full.js' %}"></script>
    <script src="{% static 'app/javascript/js/jquery-3.2.1.min.js' %}"></script>
    <script>
    $("#datetimepicker").datetimepicker();
    </script>
    <script src="{% static 'app/javascript/index.js' %}"></script>
  </body>

  </html>
