{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="footer, links, icons" />

  <title>My profile</title>
  <link href="{% static 'app/myprofile.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


</head>

<body>
  <header>
    <nav>
      <div class="logo-section">
        <button class="hb-button"><i class="fa fa-bars"></i></button>
      </div>
      <ul>
        <li><a href="{% url 'app:index' %}">HOME</a></li>

      </ul>
    </nav>
  </header>
  <!---->


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
          <h2 class="centered greet your-events"><b>Welcome, {{user.username}}!</b></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      <h2 class="centered your-events">Your events</h2>
      </div>
    </div>


        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 col-sm-12">

              <form id="form" method="post">
                <div class="form-group">
                  <ul style="list-style-type:none">
                <li style="width:100%; ">

                      <label for="sel0" style="color:brown"><b>Filter by</b></label>
                      {% csrf_token %}
                      {{ filterbyform }}

                </li>

                <li style="width:100%">

                      <label for="sel1" style="color:brown"><b>Order by</b></label>
                      {% csrf_token %}
                      {{ orderbyform }}



              </li>
            </ul>
              </div>
            </form>
            </div>
          </div>
          <div class="row">
            {% if my_event_list %} {% for event in my_event_list %}

            <div class="col-md-6 col-lg-3">
              <div class="card card2">

                <div class="card-body">
                  <h4 class="card-title">{{event.event_name}}</h4>
                  <p class="card-text">Publisher: {{event.published_by}} </p>
                  <p class="card-text">Date: {{event.event_date}}</p>
                  <p class="card-text">Location: {{event.event_location}}</p>
                  <p class="card-text">{{event.event_description}}</p>
                  <div class="btn-group" data-toggle="buttons">
                    <button type="button" class="btn btn-outline-danger remove_button">Remove</button>

                  </div>
                </div>
              </div>
            </div>

            {% endfor %} {% else %}
            <p>No events are available </p>
            {% endif %}
          </div>
        </div>

    </div>
  </div>


  <footer class="footer-distributed">

    <div class="footer-right">

      <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
      <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
      <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.github.com"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a class="slide-section" href="{% url 'app:index' %}#home">Home</a> ·
        <a class="slide-section" href="{% url 'app:index' %}#about">About</a> ·
        <a class="slide-section" href="{% url 'app:index' %}#events">Events</a> ·
        <a href="{% url 'app:share2' %}">Share</a> ·
        <a href="{% url 'app:contact' %}">Contact</a>
      </p>

      <p>TU/event &copy; 2017</p>
    </div>

  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.js"></script>
  <script src="{% static 'app/javascript/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'app/javascript/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'app/javascript/myprofile.js' %}"></script>
</body>

</html>
