{% load static %}
<html>

     <head>
        <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, links, icons" />

        <title>My profile</title>
        <link href="{% static 'app/myprofile.css' %}" rel = "stylesheet" type = "text/css">
        <link href="{% static 'app/css/bootstrap.min.css' %}" rel ="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


    </head>
    <body>
               <header>
        <nav>
            <div class="logo-section">
                <button class="hb-button"><i class="fa fa-bars"></i></button>
            </div>
            <ul>
             <li><a href="{% url 'app:index' %}">HOME</a></li>

            </ul>
        </nav>
    </header>
        <!---->


 <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <p class="greet"><b>Welcome, Anne!</b></p>
            <img class="pic" src="{% static 'app/img/profilepic.jpg' %}"/>
            <li>

                  <div class="form-group">
    <input type="file" name="img[]" class="file">
    <div class="input-group col-xs-12">
      <input type="text" class="form-control input-sm" disabled placeholder="Edit">
      <span class="input-group-btn">
        <button class="browse btn btn-success btn-sm" type="button"><i class="glyphicon glyphicon-search"></i> Browse image</button>
      </span>
    </div>
  </div>
              </li>

              <li>
                  <form>
                <div class="form-group">
                <label for="sel1" style="color:brown"><b>Filter by</b></label>
                        <select class="form-control" id="sel1">
                    <option>Most popular</option>
                    <option>Leisure</option>
                    <option>Personal</option>
                    <option>Educational</option>
                    <option>Professional</option>
                    <option>Upcoming to furthest</option>
                    <option>Furthest to upcoming</option>
                  </select>
                      </div>
                </form>
              </li>

          </ul>

        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">


          <h2 class="centered your-events">Your events</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                         <div class="card card2" style="width: 20rem;">

                            <div class="card-body">
                                <h4 class="card-title">Horse riding</h4>
                                <p class="card-text">Category: Leisure</p>
                                <p class="card-text">Date: 18 Jan 2017, 14:00</p>
                                <p class="card-text">Location: Sportcentre</p>
                               <button type="button" class="btn btn-outline-danger remove_button">Remove</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                         <div class="card card2" style="width: 20rem;">

                            <div class="card-body">
                                <h4 class="card-title">AI Seminar</h4>
                                <p class="card-text">Category: Educational</p>
                                <p class="card-text">Date: 20 Sept 2018, 12:30</p>
                                <p class="card-text">Location: Auditorium 11</p>
                               <button type="button" class="btn btn-outline-danger remove_button">Remove</button>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                         <div class="card card2" style="width: 20rem;">

                            <div class="card-body">
                                <h4 class="card-title">Photoshop Training Introduction</h4>
                                 <p class="card-text">Category: Educational</p>
                                <p class="card-text">Date: 21 Sept 2018, 12:30</p>
                                <p class="card-text">Location: Auditorium 9</p>
                               <button type="button" class="btn btn-outline-danger remove_button">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                         <div class="card card2" style="width: 20rem;">

                            <div class="card-body">
                                <h4 class="card-title">Jolie's birthday party</h4>
                                 <p class="card-text">Category: Personal</p>
                                <p class="card-text">Date: 20 Aug 2018, 22:30</p>
                                <p class="card-text">Location: Beukenlaan 87-87</p>
                               <button type="button" class="btn btn-outline-danger remove_button">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>
      </div>
    </div>

    <!---->



        <footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Events</a>
					·
					<a href="#">Share</a>
					·
                    <a href="#">Contact</a>
				</p>

				<p>TU/event &copy; 2017</p>
			</div>

		</footer>

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         <script src="{% static 'app/javascript/js/bootstrap.min.js' %}"></script>
         <script src="{% static 'app/javascript/text/javascript' %}" src="{% static 'app/javascript/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'app/javascript/myprofile.js' %}"></script>
    </body>
</html>
