{% load static %}
<html>

     <head>
        <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, links, icons" />

        <title>Share your event</title>
        <link href="{% static 'app/css/bootstrap.min.css' %}" rel ="stylesheet">
        <link href="{% static 'app/jquery.datetimepicker.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'app/daterangepicker.css' %}" />
        <link href="{% static 'app/personal.css' %}" rel = "stylesheet" type = "text/css">


    </head>
    <body>
               <header>
        <nav>
            <div class="logo-section">
                <button class="hb-button"><i class="fa fa-bars"></i></button>
            </div>
            <ul>
                 <li><a class="slide-section" href="{% url 'app:index'%}">HOME</a></li>

            </ul>
        </nav>
    </header>


    <section class="share move" id="share">
        <h3 class="text-center">SHARE YOUR EVENT</h3>
        <div class="container">
            <p class="text-center" style="color:white;">Do you have an event that you would like to share with your friends? Go ahead and post it here! </p>
    {% block content %}
    {% endblock %}
</div>
</section>



        <footer class="footer-distributed">

			<div class="footer-right">

				<a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
				<a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
				<a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
				<a href="https://www.github.com"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="{% url 'app:index' %}">Home</a>
					·
					<a href="{% url 'app:share2' %}">Share</a>
					·
                    <a href="{% url 'app:contact' %}">Contact</a>
				</p>

				<p>TU/event &copy; 2017</p>
			</div>

		</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="{% static 'app/javascript/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/javascript/jquery.datetimepicker.full.js' %}"></script>
     <script src="{% static 'app/javascript/text/javascript' %}" src="{% static 'app/javascript/js/jquery-3.2.1.min.js' %}"></script>
    <script>
        $("#datetimepicker").datetimepicker();
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script src="{% static 'app/javascript/index.js' %}"></script>
    </body>
</html>
