* {
    margin:0;
    padding:0;
}

body {
    font-family: sans-serif;
}
.centered {
    text-align: center;
}

.leisure_bkg {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/professional.jpg);
    background-position: center;
}

.titlecolor {
    margin-top: 50px;
    color:white;
}
.card2 {
    margin-top: 40px;
}
.btn {
    margin-right:12px;
    margin-left: 12px;
}
nav{
    overflow: hidden;
    position: absolute;
    width: 100%;
    position: fixed;
    z-index:1;
    background-color: dimgray;
}

.hb-button{
    float: right;
    background: #222;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

nav a{
    text-decoration: none;
    color: #282828;
    font-size: 16px;
    padding: 3px;
}

nav ul{
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    list-style: none;
}

nav ul li{
    float: right;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

li > a{
    position: relative;
    color: white;
    text-decoration: none;

}
li a:hover {
    color:darkgray;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .logo-section{
        float: none;
    }
    nav ul{
        background-color: dimgrey;
        max-height: 0;
        width: 100%;
    }
    nav ul.show{
        max-height: 25em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 18px;
    }
    .hb-button{
        display: inline;
        margin-top: 5px;
        margin-right: 5px;
    }
}


/*
footer
*/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
    padding-top: 5px;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

@media screen and (max-width: 768px){
    .card2 {
        margin: 0 auto;
        margin-top: 40px;
    }

}
